
#parent{
    border: 2px solid salmon;
    height: 400px; ;
display: flex;
flex-direction :row;
align-items: centre;
justify-content :center;
 /* justify-content: baseline;
justify-content: center;
justify-content: end;
justify-content: space-around;
justify-content: space-between; */
}
#one{
display: inline block;
background-color: aliceblue;
height: 100px ;
width: 100px ;
}
#two{
    
background-color: blue;
height: 100px ;
width: 100px ;
}
#three{

background-color: red;
height: 100px ;
width: 100px ;
}





